@import url("../../../CSS/form.css");
@import url("../../../CSS/font.css");
@import url("../../../CSS/nav.css");
/*Elements*/
html {
  width: 100%;
  font-size: 8px;
  font-family: Philosophy, "Noto Sans";
}
body {
  height: 100vh;
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}

nav {
  display: flex;
  flex-direction: row;
  min-height: 10vh;
  width: 100%;
  align-items: center;
  backdrop-filter: blur(10px);
  box-shadow: -0px 0px 20px 6px rgba(0, 0, 0, 0.4);
  justify-items: center;
  align-items: center;
  position: fixed;
  z-index: 99999;
}
main {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main__container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: auto;
  position: sticky;
}
#main__container::-webkit-scrollbar {
  display: none;
}


::placeholder {
  color: var(--gray-400);
  opacity: 1; 
  border-left: 4px;
}

#form__container {
  width: 50rem;
  height: max-content ; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 24px;
  box-shadow: -0px 0px 20px 6px rgba(0, 0, 0, 0.4);
}
#heading {
  font-size: 3rem;
  padding: 1rem;
  font-weight: 900;
  color: var(--gray-400);
}

#send__password__button {
  border-radius: 8px;
  border: none;
  padding: 1.5rem;
  outline: none;
  background: none;
  color: var(--main-black);
  font-size: 2rem;
  background-color: var(--primary);
  transition: 1s;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
 header {
  min-height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
  
}
.headings{
  margin-top:10rem;
}
.link{
  display: none;
}
.hamburger{
  display: block;
}
#form__container {
  width:40rem;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 24px;
  box-shadow: -0px 0px 20px 6px rgba(0, 0, 0, 0.4);
}
}