
@import url("../../CSS/card.css");
@import url("../../CSS/font.css");
@import url("../../CSS/nav.css");
/*Elements*/


.product_page_main {
  margin-top: 10vh;
  height: 90vh;
}
.main__container {
  height: max-content;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 7fr;
  position: relative;
  overflow: auto;
  position: sticky;
}
.main__container::-webkit-scrollbar {
  display: none;
}


::placeholder {
  color: var(--gray-400);
  opacity: 1; 
  border-left: 4px;
}

.filters {
  height: max-content;
  display: flex;
  flex-direction: column;
  min-width: 40rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 1vh;
  left:0rem;
  border-radius: 8px;
  margin-top: 0rem;
  margin-left: 2rem;
  box-shadow: -0px 0px 20px 6px rgba(0, 0, 0, 0.4);
  z-index: 99999;
  transition: 0.5s;
  overflow: auto;
}

#row_one {
  display: flex;
  margin: 2rem 0;
}
#filter__clear {
  margin-left: auto;
}
#row_two {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
#row_three {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

#row_four {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
#row_five {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 1rem 0;
}
#rating__radio-button {
  display: flex;
  flex-direction: column;
}
.radio {
  height: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  position: relative;
  top: 1px;
  width: 2rem;
  padding: 2rem;
}
.products {
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  margin-top: 10vh;
  margin-left: 10rem;
  padding-bottom: 10rem;
  gap: 4rem;
  flex-grow:1;
}
.products::-webkit-scrollbar {
  display: none;
}

.category {
  margin-bottom: 15px;
}
.list__wrapper {
  border: 0px solid var(--gray-400);
}
.open-filter{
 
  display: none;
}

@media screen and (max-width: 1000px) {
  .main__container {
  min-height: max-content;
  width: 100%;
  display: flex;
  align-items: start;
  position: relative;
  overflow: auto;
  position: sticky;
  overflow-x:hidden;
  
}
  .products{
      height:max-content;
     width:100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     position: absolute;
     top:2vh;
    margin:0rem;
    padding-bottom:8rem ;
  }
 
  .filters{
      height: 80%;
   position: fixed;
   left:-100rem;
   top:12vh;
   overflow: auto;
  }

.headings{
  margin-top:10rem;
}
.link{
  display: none;
}
.hamburger{
  display: block;
}
.open-filter{
  display: flex;
  width:5rem;
  position: absolute;
  top:15rem;
  left:-3.2rem;
  padding:2rem 2rem 2rem 4rem;
  border:1px solid var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  background-color: var(--main-black);
}
.open-filter--button{
  z-index:12900;

}
}

.page__previous,.page__next{
  margin:0rem 2rem;
  height:4rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page__number{
  text-decoration: none;
  list-style: none;
  margin:0rem 2rem;
  cursor:pointer;
  height:4rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--gray-800);
  display: flex;
  justify-content: center;
  align-items: center;
}
.page__previous:hover,.page__next:hover,.page__number:hover{
background-color: var(--gray-600);
}
.pagination__container{
  position: fixed;
  bottom:0rem;
  background-color: var(--main-black);
}