
.profile__container{
    height:90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:15rem;
}
.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}
.logout{
    position: absolute;
    top:6rem;
    right:1rem;
}
.list__head{
    font-size: 3rem;
    width: max-content;
}
.list__item{
    font-size: 2rem;
    width: max-content;
}
.logout{
    padding:3rem 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.list__wrapper{
    margin:2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width:100%;
}

.ordered-items{
    margin:2rem 0rem;
    padding: 2rem 1rem;
    border-radius: 8px;
}
.order-placed--heading{
    font-size: 2.4rem;
    text-decoration: underline;
}