
.profile__container{
    height:90vh;
    display: flex;
    justify-content: center;
    margin-top:25rem;
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}
.logout{
    position: absolute;
    top:6rem;
    right:1rem;
}
.list__head{
    font-size: 3rem;
    width: max-content;
}
.list__item{
    font-size: 2rem;
    width: max-content;
}
.logout{
    padding:3rem 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.list__wrapper{
    margin:2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width:100%;
}

.ordered-items{
    margin:2rem 0rem;
    padding: 2rem 1rem;
    border-radius: 8px;
}
.order-placed--heading{
    font-size: 2.4rem;
}
.user-details{
    font-size: 3rem;
    color:var(--primary);
    margin-bottom:2rem;
    padding:4rem;
    border-radius: 8px;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user-details--heading{
    font-size: 3rem;
    color:var(--main-white);
    margin-bottom:1rem;
}
.order-details--heading{
    font-size: 3rem;
    color:var(--main-white);
    margin:4rem 0rem;
}
.ordered-items{
   font-size: 3rem;
    margin-bottom:2rem;
    padding:2rem;
    border-radius: 8px;
    background-color: var(--violet-800);
    color:var(--violet-400)
}
.ordered-items:hover{
   border:1px solid var(--primary);
}